<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <header id="site-header">
    </header>

    <section id="error" style="margin-top: 60px">
    <img src="/static/img/404.png" style="max-width: 100%">
        <h1 class="text-center">Page not found</h1>
        <p class="text-center">The rabbits have been nibbling the cables again...<br/>Maybe this will help <a href="/">Home</a></p>

    </section>
    <div class="clearfix"></div>

    <footer id="site-footer" class="text-center">
        <p>&copy; 2018 Dev-L
        <p></footer>
</div>

</body>
</html>

